<!DOCTYPE html>
<html>
  <head>
    <title>Skill</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="centered">

    <h1>New DEV Skill</h1>

    <form action="/skills" method="POST" autocomplete="on">
      <input class="newClass" type="text" name="skill">
      <button class="newClass" type="submit">Save DEV Skill</button>
    </form>

  </body>
</html>