<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <body class="centered">

    <div>
      <h1 id="welcome"><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </div>
    <div>
      <a href="skills/index">DEV Skills</a>
    </div>

    <div id="img1">
      <img src="images/profile.jpg" alt="profile">
    </div>

  </body>
</html>